.navbar-nav .nav-item {
    margin-right: 100px;
  }


body {
    /* background-image: url('../img/imgLogoEtman.png'); Cambia la ruta a tu imagen */
    background-size: auto;
    background-position: center top; /* Centra la imagen verticalmente con desplazamiento hacia arriba */
    background-repeat: no-repeat;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}
.background-container {
    text-align: center;
    padding: 20px;
    position: relative;
    /* background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%; 
    height: 400px;  */

}

/* Estilos para el texto del logo */
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #a40931;
    margin: 0;
    position: absolute;
    margin: 20px 0 10px;
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición exacta */
    font-family: fantasy;
    letter-spacing: 3px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);  
   
}
.logo-image {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.header {
    background: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #FF0000;
}

.header button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}



.content {
    flex: 1;
    padding: 40px;
    text-align: center;
}

footer {
    height: 50px;
    background-color: #A30234;
    width: 100%;
}

.etman-logo {
    background: #F2F2F2;
    padding: 20px;
    color: #A30234;
}

.etman-logo h2 {
    margin: 0;
    font-size: 48px;
}

.logout-button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Elimina la decoración de subrayado del enlace */
 
}
#dropdown2{
    color: white;
    font-weight: bold;
}
#dropdown1{
    color: white;
    font-weight: bold;
}